@keyframes flash {

    0%,
    100% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }
}

.input {
    opacity: 0;
    position: absolute;
    width: 1px;
    height: 1px;
    color: black;
}

.caret {
    animation-name: flash;
    animation-iteration-count: infinite;
    animation-duration: 1s;
    transition: 0.12s;
}

.caret {
    position: absolute;
    display: inline;
}