.comment {
    width: 360px;
    height: 270px;
    background-image: url('../../assets/comment.png');
    background-repeat: no-repeat;
}
.rotate-in-center {
	-webkit-animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotate-in-center 0.6s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}