.slide {
  cursor: pointer;
  background-image: url(../../assets/./Servicsimg/shape1.png);
  background-position: 'center';
  background-size: cover;
  width: 50%;
  height: auto;
  text-align: center;

}

.inner-slide {
  display: grid;
  place-items: center;
}

.slider-p {
  padding: 0 50px 90px 50px;
  margin: 0;
}

.slider-h {
  margin: 0;
}