/* For Large Device  */
@media only screen and (min-width: 768px) {
    .placeName {
        top: 564px;
        left: 500px
    }
}


/* For Small device */
@media only screen and (max-width: 600px) {
    .placeName {
        top: 370px;
        left: 228px;

    }
}