@import url('https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,300;0,500;1,400&display=swap');

body {
  font-family: 'Nunito';
}

.SubmitButton {
  background-color: #FE4A55;
  color: white;
  font-size: larger;
  font-weight: bold;
  padding-left: 30px;
  padding-right: 30px;
  border-radius: 7px;
  -webkit-transition: background-color 2s ease-out;
  -moz-transition: background-color 2s ease-out;
  -o-transition: background-color 2s ease-out;
  transition: background-color 2s ease-out;

}

.leaflet-container {
  width: 100%;
  height: 100vh;
}

.SubmitButton:hover {
  background-color: #b5710a;
}

/* ============= Animation =====================  */

.covid9 {
  animation: mymove 5s infinite;
}

@keyframes mymove {
  50% {
    transform: rotate(180deg);
  }
}